<a href="https://colab.research.google.com/github/ankita1120/MicrosoftPowerBI/blob/main/Data_Wrangling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pandas
import pandas as pd
print(pd.__version__) # Access the version using pd.__version__ after importing pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
2.1.4

In [ ]:
import pandas as pd
s1 = pd.Series([10,20,30,40,50],name = "Apple") # Changed pd.series to pd.Series
s2 = pd.Series([100,200,300,400,500],name= "Orange") # Changed pd.series to pd.Series

df = pd.concat([s1 ,s2],axis =1)
print(df)

   Apple  Orange
0     10     100
1     20     200
2     30     300
3     40     400
4     50     500

In [ ]:
(s2)

In [ ]:
import pandas as pd
import os

# 1. Get the current working directory.
current_directory = os.getcwd()
print(f"Current working directory: {current_directory}")


# 2. Construct the absolute file path
# Replace 'path/to/your/file/imdb_data.csv' with the actual location of your file if it's not in the current directory
filepath = os.path.join(current_directory, 'imdb_data.csv')
# filepath = "path/to/your/file/imdb_data.csv" # Alternatively, specify the full path

# 3. Load the data
try:
    imdb_df = pd.read_csv(filepath)
    print("File loaded successfully!")
except:
    print("Error loading file!")

Current working directory: /content
Error loading file!

In [ ]:
import google.colab
import pandas as pd
import numpy as np

# Mount your Google Drive to access the file
google.colab.drive.mount('/content/drive')

# Use the 'path' variable that you defined, which likely contains the correct location
path = '/content/drive/My Drive/imdb_data.csv'  # Added '/content/' to the beginning of the path
imdb_df = pd.read_csv(path)

imdb_df

Mounted at /content/drive

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
0,1,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,...,2/20/15,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651
1,2,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,...,8/6/04,113.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435
2,3,NaN,3300000,"[{'id': 18, 'name': 'Drama'}]",http://sonyclassics.com/whiplash/,tt2582802,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,...,10/10/14,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The road to greatness can take you to the edge.,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000
3,4,NaN,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",http://kahaanithefilm.com/,tt1821480,hi,Kahaani,Vidya Bagchi (Vidya Balan) arrives in Kolkata ...,3.174936,...,3/9/12,122.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Kahaani,"[{'id': 10092, 'name': 'mystery'}, {'id': 1054...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000
4,5,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,tt1380152,ko,마린보이,Marine Boy is the story of a former national s...,1.148070,...,2/5/09,118.0,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,NaN,Marine Boy,NaN,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,2996,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,tt0109403,en,Chasers,Military men Rock Reilly and Eddie Devane are ...,9.853270,...,4/22/94,102.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It was supposed to be a routine prisoner trans...,Chasers,"[{'id': 378, 'name': 'prison'}, {'id': 572, 'n...","[{'cast_id': 2, 'character': 'Rock Reilly', 'c...","[{'credit_id': '52fe4494c3a368484e02ac7d', 'de...",1596687
2996,2997,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",NaN,tt2364975,sv,Vi är bäst!,Three girls in 1980s Stockholm decide to form ...,3.727996,...,3/28/13,102.0,"[{'iso_639_1': 'sv', 'name': 'svenska'}]",Released,NaN,We Are the Best!,"[{'id': 1192, 'name': 'sweden'}, {'id': 4470, ...","[{'cast_id': 5, 'character': 'Bobo', 'credit_i...","[{'credit_id': '5716b72ac3a3686678012c84', 'de...",180590
2997,2998,NaN,65000000,"[{'id': 80, 'name': 'Crime'}, {'id': 28, 'name...",NaN,tt0116908,en,The Long Kiss Goodnight,"Samantha Caine, suburban homemaker, is the ide...",14.482345,...,10/11/96,120.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,What's forgotten is not always gone.,The Long Kiss Goodnight,"[{'id': 441, 'name': 'assassination'}, {'id': ...","[{'cast_id': 10, 'character': 'Samantha Caine ...","[{'credit_id': '52fe443a9251416c7502d579', 'de...",89456761
2998,2999,NaN,42000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",http://www.alongcamepolly.com/,tt0343135,en,Along Came Polly,Reuben Feffer is a guy who's spent his entire ...,15.725542,...,1/16/04,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"For the most cautious man on Earth, life is ab...",Along Came Polly,"[{'id': 966, 'name': 'beach'}, {'id': 2676, 'n...","[{'cast_id': 8, 'character': 'Reuben Feffer', ...","[{'credit_id': '556f817b9251410866000a63', 'de...",171963386
2999,3000,NaN,35000000,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",http://www.abductionthefilm.com/,tt1600195,en,Abduction,A young man sets out to uncover the truth abou...,10.512109,...,9/22/11,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,They stole his life. He's taking it back.,Abduction,"[{'id': 591, 'name': 'cia'}, {'id': 822, 'name...","[{'cast_id': 2, 'character': 'Nathan Harper', ...","[{'credit_id': '5391990d0e0a260fb5001629', 'de...",82087155

In [ ]:
imdb_df = pd.read_csv(path)
imdb_df

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
0,1,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,...,2/20/15,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651
1,2,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,...,8/6/04,113.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435
2,3,NaN,3300000,"[{'id': 18, 'name': 'Drama'}]",http://sonyclassics.com/whiplash/,tt2582802,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,...,10/10/14,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The road to greatness can take you to the edge.,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000
3,4,NaN,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",http://kahaanithefilm.com/,tt1821480,hi,Kahaani,Vidya Bagchi (Vidya Balan) arrives in Kolkata ...,3.174936,...,3/9/12,122.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Kahaani,"[{'id': 10092, 'name': 'mystery'}, {'id': 1054...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000
4,5,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,tt1380152,ko,마린보이,Marine Boy is the story of a former national s...,1.148070,...,2/5/09,118.0,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,NaN,Marine Boy,NaN,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,2996,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,tt0109403,en,Chasers,Military men Rock Reilly and Eddie Devane are ...,9.853270,...,4/22/94,102.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It was supposed to be a routine prisoner trans...,Chasers,"[{'id': 378, 'name': 'prison'}, {'id': 572, 'n...","[{'cast_id': 2, 'character': 'Rock Reilly', 'c...","[{'credit_id': '52fe4494c3a368484e02ac7d', 'de...",1596687
2996,2997,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",NaN,tt2364975,sv,Vi är bäst!,Three girls in 1980s Stockholm decide to form ...,3.727996,...,3/28/13,102.0,"[{'iso_639_1': 'sv', 'name': 'svenska'}]",Released,NaN,We Are the Best!,"[{'id': 1192, 'name': 'sweden'}, {'id': 4470, ...","[{'cast_id': 5, 'character': 'Bobo', 'credit_i...","[{'credit_id': '5716b72ac3a3686678012c84', 'de...",180590
2997,2998,NaN,65000000,"[{'id': 80, 'name': 'Crime'}, {'id': 28, 'name...",NaN,tt0116908,en,The Long Kiss Goodnight,"Samantha Caine, suburban homemaker, is the ide...",14.482345,...,10/11/96,120.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,What's forgotten is not always gone.,The Long Kiss Goodnight,"[{'id': 441, 'name': 'assassination'}, {'id': ...","[{'cast_id': 10, 'character': 'Samantha Caine ...","[{'credit_id': '52fe443a9251416c7502d579', 'de...",89456761
2998,2999,NaN,42000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",http://www.alongcamepolly.com/,tt0343135,en,Along Came Polly,Reuben Feffer is a guy who's spent his entire ...,15.725542,...,1/16/04,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"For the most cautious man on Earth, life is ab...",Along Came Polly,"[{'id': 966, 'name': 'beach'}, {'id': 2676, 'n...","[{'cast_id': 8, 'character': 'Reuben Feffer', ...","[{'credit_id': '556f817b9251410866000a63', 'de...",171963386
2999,3000,NaN,35000000,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",http://www.abductionthefilm.com/,tt1600195,en,Abduction,A young man sets out to uncover the truth abou...,10.512109,...,9/22/11,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,They stole his life. He's taking it back.,Abduction,"[{'id': 591, 'name': 'cia'}, {'id': 822, 'name...","[{'cast_id': 2, 'character': 'Nathan Harper', ...","[{'credit_id': '5391990d0e0a260fb5001629', 'de...",82087155

In [ ]:
imdb_df.head(3)

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
0,1,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,...,2/20/15,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651
1,2,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,...,8/6/04,113.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435
2,3,NaN,3300000,"[{'id': 18, 'name': 'Drama'}]",http://sonyclassics.com/whiplash/,tt2582802,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,...,10/10/14,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The road to greatness can take you to the edge.,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000

In [ ]:
imdb_df.tail()

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
2995,2996,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,tt0109403,en,Chasers,Military men Rock Reilly and Eddie Devane are ...,9.853270,...,4/22/94,102.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It was supposed to be a routine prisoner trans...,Chasers,"[{'id': 378, 'name': 'prison'}, {'id': 572, 'n...","[{'cast_id': 2, 'character': 'Rock Reilly', 'c...","[{'credit_id': '52fe4494c3a368484e02ac7d', 'de...",1596687
2996,2997,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",NaN,tt2364975,sv,Vi är bäst!,Three girls in 1980s Stockholm decide to form ...,3.727996,...,3/28/13,102.0,"[{'iso_639_1': 'sv', 'name': 'svenska'}]",Released,NaN,We Are the Best!,"[{'id': 1192, 'name': 'sweden'}, {'id': 4470, ...","[{'cast_id': 5, 'character': 'Bobo', 'credit_i...","[{'credit_id': '5716b72ac3a3686678012c84', 'de...",180590
2997,2998,NaN,65000000,"[{'id': 80, 'name': 'Crime'}, {'id': 28, 'name...",NaN,tt0116908,en,The Long Kiss Goodnight,"Samantha Caine, suburban homemaker, is the ide...",14.482345,...,10/11/96,120.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,What's forgotten is not always gone.,The Long Kiss Goodnight,"[{'id': 441, 'name': 'assassination'}, {'id': ...","[{'cast_id': 10, 'character': 'Samantha Caine ...","[{'credit_id': '52fe443a9251416c7502d579', 'de...",89456761
2998,2999,NaN,42000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",http://www.alongcamepolly.com/,tt0343135,en,Along Came Polly,Reuben Feffer is a guy who's spent his entire ...,15.725542,...,1/16/04,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"For the most cautious man on Earth, life is ab...",Along Came Polly,"[{'id': 966, 'name': 'beach'}, {'id': 2676, 'n...","[{'cast_id': 8, 'character': 'Reuben Feffer', ...","[{'credit_id': '556f817b9251410866000a63', 'de...",171963386
2999,3000,NaN,35000000,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",http://www.abductionthefilm.com/,tt1600195,en,Abduction,A young man sets out to uncover the truth abou...,10.512109,...,9/22/11,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,They stole his life. He's taking it back.,Abduction,"[{'id': 591, 'name': 'cia'}, {'id': 822, 'name...","[{'cast_id': 2, 'character': 'Nathan Harper', ...","[{'credit_id': '5391990d0e0a260fb5001629', 'de...",82087155

In [ ]:
imdb_df.columns

Index(['id', 'belongs_to_collection', 'budget', 'genres', 'homepage',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'runtime', 'spoken_languages',
       'status', 'tagline', 'title', 'Keywords', 'cast', 'crew', 'revenue'],
      dtype='object')

In [ ]:
df = imdb_df[['id','original_title','runtime','revenue','budget','genres','imdb_id', 'original_language']]
# Changed 'Original Title' to 'original_title' assuming case sensitivity issue

In [ ]:
df

,id,original_title,runtime,revenue,budget,genres,imdb_id,original_language
0,1,Hot Tub Time Machine 2,93.0,12314651,14000000,"[{'id': 35, 'name': 'Comedy'}]",tt2637294,en
1,2,The Princess Diaries 2: Royal Engagement,113.0,95149435,40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",tt0368933,en
2,3,Whiplash,105.0,13092000,3300000,"[{'id': 18, 'name': 'Drama'}]",tt2582802,en
3,4,Kahaani,122.0,16000000,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",tt1821480,hi
4,5,마린보이,118.0,3923970,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",tt1380152,ko
...,...,...,...,...,...,...,...,...
2995,2996,Chasers,102.0,1596687,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",tt0109403,en
2996,2997,Vi är bäst!,102.0,180590,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",tt2364975,sv
2997,2998,The Long Kiss Goodnight,120.0,89456761,65000000,"[{'id': 80, 'name': 'Crime'}, {'id': 28, 'name...",tt0116908,en
2998,2999,Along Came Polly,90.0,171963386,42000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",tt0343135,en
2999,3000,Abduction,106.0,82087155,35000000,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",tt1600195,en

In [ ]:
list(imdb_df.columns)

['id',
 'belongs_to_collection',
 'budget',
 'genres',
 'homepage',
 'imdb_id',
 'original_language',
 'original_title',
 'overview',
 'popularity',
 'poster_path',
 'production_companies',
 'production_countries',
 'release_date',
 'runtime',
 'spoken_languages',
 'status',
 'tagline',
 'title',
 'Keywords',
 'cast',
 'crew',
 'revenue']

In [ ]:

imdb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     3000 non-null   int64
 1   belongs_to_collection  604 non-null    object
 2   budget                 3000 non-null   int64
 3   genres                 2993 non-null   object
 4   homepage               946 non-null    object
 5   imdb_id                3000 non-null   object
 6   original_language      3000 non-null   object
 7   original_title         3000 non-null   object
 8   overview               2992 non-null   object
 9   popularity             3000 non-null   float64
 10  poster_path            2999 non-null   object
 11  production_companies   2844 non-null   object
 12  production_countries   2945 non-null   object
 13  release_date           3000 non-null   object
 14  runtime                2998 non-null   float64
 15  spoken_languages       2980 non-null   object
 16  status                 3000 non-null   object
 17  tagline                2403 non-null   object
 18  title                  3000 non-null   object
 19  Keywords               2724 non-null   object
 20  cast                   2987 non-null   object
 21  crew                   2984 non-null   object
 22  revenue                3000 non-null   int64
dtypes: float64(2), int64(3), object(18)
memory usage: 539.2+ KB

In [ ]:
imdb_df.rename(columns={'columns_Name':'new_column_Name'},inplace=True)

In [ ]:
imdb_df.describe()

                id        budget   popularity      runtime       revenue
count  3000.000000  3.000000e+03  3000.000000  2998.000000  3.000000e+03
mean   1500.500000  2.253133e+07     8.463274   107.856571  6.672585e+07
std     866.169729  3.702609e+07    12.104000    22.086434  1.375323e+08
min       1.000000  0.000000e+00     0.000001     0.000000  1.000000e+00
25%     750.750000  0.000000e+00     4.018053    94.000000  2.379808e+06
50%    1500.500000  8.000000e+06     7.374861   104.000000  1.680707e+07
75%    2250.250000  2.900000e+07    10.890983   118.000000  6.891920e+07
max    3000.000000  3.800000e+08   294.337037   338.000000  1.519558e+09

In [ ]:
working_dir_path= '' #location where you want to save it as a string.
imdb_df.to_csv(working_dir_path +'output_imdb.csv')

In [ ]:
imdb_df.sort_values(by='revenue',ascending=False).head(5)

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
1126,1127,"[{'id': 86311, 'name': 'The Avengers Collectio...",220000000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",http://marvel.com/avengers_movie/,tt0848228,en,The Avengers,When an unexpected enemy emerges and threatens...,89.887648,...,4/25/12,143.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Some assembly required.,The Avengers,"[{'id': 242, 'name': 'new york'}, {'id': 5539,...","[{'cast_id': 46, 'character': 'Tony Stark / Ir...","[{'credit_id': '52fe4495c3a368484e02b1cf', 'de...",1519557910
1761,1762,"[{'id': 9485, 'name': 'The Fast and the Furiou...",190000000,"[{'id': 28, 'name': 'Action'}]",http://www.furious7.com/,tt2820852,en,Furious 7,Deckard Shaw seeks revenge against Dominic Tor...,27.275687,...,4/1/15,137.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Vengeance Hits Home,Furious 7,"[{'id': 830, 'name': 'car race'}, {'id': 3428,...","[{'cast_id': 17, 'character': 'Dominic Toretto...","[{'credit_id': '52fe4cc8c3a36847f823e681', 'de...",1506249360
2770,2771,"[{'id': 86311, 'name': 'The Avengers Collectio...",280000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://marvel.com/movies/movie/193/avengers_ag...,tt2395427,en,Avengers: Age of Ultron,When Tony Stark tries to jumpstart a dormant p...,37.379420,...,4/22/15,141.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A New Age Has Come.,Avengers: Age of Ultron,"[{'id': 8828, 'name': 'marvel comic'}, {'id': ...","[{'cast_id': 76, 'character': 'Tony Stark / Ir...","[{'credit_id': '55d5f7d4c3a3683e7e0016eb', 'de...",1405403694
684,685,NaN,160000000,"[{'id': 10751, 'name': 'Family'}, {'id': 14, '...",http://movies.disney.com/beauty-and-the-beast-...,tt2771200,en,Beauty and the Beast,A live-action adaptation of Disney's version o...,287.253654,...,3/16/17,129.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Be our guest.,Beauty and the Beast,"[{'id': 254, 'name': 'france'}, {'id': 2343, '...","[{'cast_id': 174, 'character': 'Belle', 'credi...","[{'credit_id': '551879bec3a3681f840004eb', 'de...",1262886337
2322,2323,"[{'id': 8650, 'name': 'Transformers Collection...",195000000,"[{'id': 28, 'name': 'Action'}, {'id': 878, 'na...",http://www.transformersmovie.com/,tt1399103,en,Transformers: Dark of the Moon,Sam Witwicky takes his first tenuous steps int...,4.503505,...,6/28/11,154.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The invasion we always feared. An enemy we nev...,Transformers: Dark of the Moon,"[{'id': 305, 'name': 'moon'}, {'id': 1612, 'na...","[{'cast_id': 3, 'character': 'Sam Witwicky', '...","[{'credit_id': '537f0b740e0a2624b40044d0', 'de...",1123746996

In [ ]:
# Writing a pandas dataframe to a location as a csv or any other desired format is just as easy as reading it. Let's create a dummy dataframe and write it in csv format.
# Create a DataFrame:

data ={'Name ':['Alice ', 'Bob','Charlie'],'Age':[25, 30 , 34]}
df = pd.DataFrame(data)
# Write the dataframe to csv file
df.to_csv('newframe.csv', index=False)

In [ ]:
# get the rows and columns  with particular lables from the indexs
imdb_df.columns

Index(['id', 'belongs_to_collection', 'budget', 'genres', 'homepage',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'runtime', 'spoken_languages',
       'status', 'tagline', 'title', 'Keywords', 'cast', 'crew', 'revenue'],
      dtype='object')

In [ ]:
list(imdb_df.columns)

['id',
 'belongs_to_collection',
 'budget',
 'genres',
 'homepage',
 'imdb_id',
 'original_language',
 'original_title',
 'overview',
 'popularity',
 'poster_path',
 'production_companies',
 'production_countries',
 'release_date',
 'runtime',
 'spoken_languages',
 'status',
 'tagline',
 'title',
 'Keywords',
 'cast',
 'crew',
 'revenue']

In [ ]:
imdb_df.loc[50:60,['budget' , 'genres', 'runtime']]

       budget                                             genres  runtime
50     560000  [{'id': 10749, 'name': 'Romance'}, {'id': 18, ...    102.0
51   12000000  [{'id': 12, 'name': 'Adventure'}, {'id': 35, '...    160.0
52          0  [{'id': 12, 'name': 'Adventure'}, {'id': 10751...     97.0
53          0  [{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...     98.0
54   20000000                     [{'id': 28, 'name': 'Action'}]    107.0
55          0  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...     95.0
56          0  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...     97.0
57  125000000  [{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...    125.0
58          0  [{'id': 10402, 'name': 'Music'}, {'id': 10749,...     95.0
59   14000000  [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...     95.0
60  150000000  [{'id': 12, 'name': 'Adventure'}, {'id': 28, '...    144.0

In [ ]:
imdb_df.loc[50:60,['budget' , 'genres', 'runtime']]

       budget                                             genres  runtime
50     560000  [{'id': 10749, 'name': 'Romance'}, {'id': 18, ...    102.0
51   12000000  [{'id': 12, 'name': 'Adventure'}, {'id': 35, '...    160.0
52          0  [{'id': 12, 'name': 'Adventure'}, {'id': 10751...     97.0
53          0  [{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...     98.0
54   20000000                     [{'id': 28, 'name': 'Action'}]    107.0
55          0  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...     95.0
56          0  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...     97.0
57  125000000  [{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...    125.0
58          0  [{'id': 10402, 'name': 'Music'}, {'id': 10749,...     95.0
59   14000000  [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...     95.0
60  150000000  [{'id': 12, 'name': 'Adventure'}, {'id': 28, '...    144.0

In [ ]:
imdb_df.loc[:,['budget','genres','runtime','original_title']]

,budget,genres,runtime,original_title
0,14000000,"[{'id': 35, 'name': 'Comedy'}]",93.0,Hot Tub Time Machine 2
1,40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",113.0,The Princess Diaries 2: Royal Engagement
2,3300000,"[{'id': 18, 'name': 'Drama'}]",105.0,Whiplash
3,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",122.0,Kahaani
4,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",118.0,마린보이
...,...,...,...,...
2995,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",102.0,Chasers
2996,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",102.0,Vi är bäst!
2997,65000000,"[{'id': 80, 'name': 'Crime'}, {'id': 28, 'name...",120.0,The Long Kiss Goodnight
2998,42000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",90.0,Along Came Polly
2999,35000000,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",106.0,Abduction

In [ ]:
imdb_df.loc[:,['budget', 'genres', 'runtime']]

        budget                                             genres  runtime
0     14000000                     [{'id': 35, 'name': 'Comedy'}]     93.0
1     40000000  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...    113.0
2      3300000                      [{'id': 18, 'name': 'Drama'}]    105.0
3      1200000  [{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...    122.0
4            0  [{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...    118.0
...        ...                                                ...      ...
2995         0  [{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...    102.0
2996         0  [{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...    102.0
2997  65000000  [{'id': 80, 'name': 'Crime'}, {'id': 28, 'name...    120.0
2998  42000000  [{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...     90.0
2999  35000000  [{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...    106.0

[3000 rows x 3 columns]

In [ ]:
imdb_df.iloc[:,-3:]

,cast,crew,revenue
0,"[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651
1,"[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435
2,"[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000
3,"[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000
4,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970
...,...,...,...
2995,"[{'cast_id': 2, 'character': 'Rock Reilly', 'c...","[{'credit_id': '52fe4494c3a368484e02ac7d', 'de...",1596687
2996,"[{'cast_id': 5, 'character': 'Bobo', 'credit_i...","[{'credit_id': '5716b72ac3a3686678012c84', 'de...",180590
2997,"[{'cast_id': 10, 'character': 'Samantha Caine ...","[{'credit_id': '52fe443a9251416c7502d579', 'de...",89456761
2998,"[{'cast_id': 8, 'character': 'Reuben Feffer', ...","[{'credit_id': '556f817b9251410866000a63', 'de...",171963386
2999,"[{'cast_id': 2, 'character': 'Nathan Harper', ...","[{'credit_id': '5391990d0e0a260fb5001629', 'de...",82087155

In [ ]:
imdb_df.iloc[: 10, :4]

,id,belongs_to_collection,budget,genres
0,1,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]"
1,2,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam..."
2,3,NaN,3300000,"[{'id': 18, 'name': 'Drama'}]"
3,4,NaN,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n..."
4,5,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam..."
5,6,NaN,8000000,"[{'id': 16, 'name': 'Animation'}, {'id': 12, '..."
6,7,NaN,14000000,"[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam..."
7,8,NaN,0,"[{'id': 99, 'name': 'Documentary'}]"
8,9,"[{'id': 256377, 'name': 'The Muppet Collection...",0,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam..."
9,10,NaN,6000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '..."

In [ ]:
#In fact we can also perform boolean indexing on our dataframe
#Boolrean indexing
english_movies = imdb_df.loc[:,'original_language']=='en'
english_movies.head()

0     True
1     True
2     True
3    False
4    False
Name: original_language, dtype: bool

In [ ]:
#boolean_indexing
english_movies = imdb_df.loc[:,['original_language']]=='en'
english_movies

      original_language
0                  True
1                  True
2                  True
3                 False
4                 False
...                 ...
2995               True
2996              False
2997               True
2998               True
2999               True

[3000 rows x 1 columns]

In [ ]:
## Add new column which is just half the runtime

imdb_df.loc[:,'half_runtime'] = imdb_df['runtime'] * 0.5
imdb_df

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue,half_runtime
0,1,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,...,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651,46.5
1,2,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,...,113.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435,56.5
2,3,NaN,3300000,"[{'id': 18, 'name': 'Drama'}]",http://sonyclassics.com/whiplash/,tt2582802,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,...,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The road to greatness can take you to the edge.,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000,52.5
3,4,NaN,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",http://kahaanithefilm.com/,tt1821480,hi,Kahaani,Vidya Bagchi (Vidya Balan) arrives in Kolkata ...,3.174936,...,122.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Kahaani,"[{'id': 10092, 'name': 'mystery'}, {'id': 1054...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000,61.0
4,5,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,tt1380152,ko,마린보이,Marine Boy is the story of a former national s...,1.148070,...,118.0,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,NaN,Marine Boy,NaN,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970,59.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,2996,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,tt0109403,en,Chasers,Military men Rock Reilly and Eddie Devane are ...,9.853270,...,102.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It was supposed to be a routine prisoner trans...,Chasers,"[{'id': 378, 'name': 'prison'}, {'id': 572, 'n...","[{'cast_id': 2, 'character': 'Rock Reilly', 'c...","[{'credit_id': '52fe4494c3a368484e02ac7d', 'de...",1596687,51.0
2996,2997,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",NaN,tt2364975,sv,Vi är bäst!,Three girls in 1980s Stockholm decide to form ...,3.727996,...,102.0,"[{'iso_639_1': 'sv', 'name': 'svenska'}]",Released,NaN,We Are the Best!,"[{'id': 1192, 'name': 'sweden'}, {'id': 4470, ...","[{'cast_id': 5, 'character': 'Bobo', 'credit_i...","[{'credit_id': '5716b72ac3a3686678012c84', 'de...",180590,51.0
2997,2998,NaN,65000000,"[{'id': 80, 'name': 'Crime'}, {'id': 28, 'name...",NaN,tt0116908,en,The Long Kiss Goodnight,"Samantha Caine, suburban homemaker, is the ide...",14.482345,...,120.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,What's forgotten is not always gone.,The Long Kiss Goodnight,"[{'id': 441, 'name': 'assassination'}, {'id': ...","[{'cast_id': 10, 'character': 'Samantha Caine ...","[{'credit_id': '52fe443a9251416c7502d579', 'de...",89456761,60.0
2998,2999,NaN,42000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",http://www.alongcamepolly.com/,tt0343135,en,Along Came Polly,Reuben Feffer is a guy who's spent his entire ...,15.725542,...,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"For the most cautious man on Earth, life is ab...",Along Came Polly,"[{'id': 966, 'name': 'beach'}, {'id': 2676, 'n...","[{'cast_id': 8, 'character': 'Reuben Feffer', ...","[{'credit_id': '556f817b9251410866000a63', 'de...",171963386,45.0
2999,3000,NaN,35000000,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",http://www.abductionthefilm.com/,tt1600195,en,Abduction,A young man sets out to uncover the truth abou...,10.512109,...,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,They stole his life. He's taking it back.,Abduction,"[{'id': 591, 'name': 'cia'}, {'id': 822, 'name...","[{'cast_id': 2, 'character': 'Nathan Harper', ...","[{'credit_id': '5391990d0e0a260fb5001629', 'de...",82087155,53.0

In [ ]:
imdb_df.loc[:,'half_runtime'] = imdb_df['runtime'] * 5
imdb_df

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue,half_runtime
0,1,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,...,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651,465.0
1,2,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,...,113.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435,565.0
2,3,NaN,3300000,"[{'id': 18, 'name': 'Drama'}]",http://sonyclassics.com/whiplash/,tt2582802,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,...,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The road to greatness can take you to the edge.,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000,525.0
3,4,NaN,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",http://kahaanithefilm.com/,tt1821480,hi,Kahaani,Vidya Bagchi (Vidya Balan) arrives in Kolkata ...,3.174936,...,122.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Kahaani,"[{'id': 10092, 'name': 'mystery'}, {'id': 1054...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000,610.0
4,5,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,tt1380152,ko,마린보이,Marine Boy is the story of a former national s...,1.148070,...,118.0,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,NaN,Marine Boy,NaN,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970,590.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,2996,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,tt0109403,en,Chasers,Military men Rock Reilly and Eddie Devane are ...,9.853270,...,102.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It was supposed to be a routine prisoner trans...,Chasers,"[{'id': 378, 'name': 'prison'}, {'id': 572, 'n...","[{'cast_id': 2, 'character': 'Rock Reilly', 'c...","[{'credit_id': '52fe4494c3a368484e02ac7d', 'de...",1596687,510.0
2996,2997,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",NaN,tt2364975,sv,Vi är bäst!,Three girls in 1980s Stockholm decide to form ...,3.727996,...,102.0,"[{'iso_639_1': 'sv', 'name': 'svenska'}]",Released,NaN,We Are the Best!,"[{'id': 1192, 'name': 'sweden'}, {'id': 4470, ...","[{'cast_id': 5, 'character': 'Bobo', 'credit_i...","[{'credit_id': '5716b72ac3a3686678012c84', 'de...",180590,510.0
2997,2998,NaN,65000000,"[{'id': 80, 'name': 'Crime'}, {'id': 28, 'name...",NaN,tt0116908,en,The Long Kiss Goodnight,"Samantha Caine, suburban homemaker, is the ide...",14.482345,...,120.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,What's forgotten is not always gone.,The Long Kiss Goodnight,"[{'id': 441, 'name': 'assassination'}, {'id': ...","[{'cast_id': 10, 'character': 'Samantha Caine ...","[{'credit_id': '52fe443a9251416c7502d579', 'de...",89456761,600.0
2998,2999,NaN,42000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",http://www.alongcamepolly.com/,tt0343135,en,Along Came Polly,Reuben Feffer is a guy who's spent his entire ...,15.725542,...,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"For the most cautious man on Earth, life is ab...",Along Came Polly,"[{'id': 966, 'name': 'beach'}, {'id': 2676, 'n...","[{'cast_id': 8, 'character': 'Reuben Feffer', ...","[{'credit_id': '556f817b9251410866000a63', 'de...",171963386,450.0
2999,3000,NaN,35000000,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",http://www.abductionthefilm.com/,tt1600195,en,Abduction,A young man sets out to uncover the truth abou...,10.512109,...,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,They stole his life. He's taking it back.,Abduction,"[{'id': 591, 'name': 'cia'}, {'id': 822, 'name...","[{'cast_id': 2, 'character': 'Nathan Harper', ...","[{'credit_id': '5391990d0e0a260fb5001629', 'de...",82087155,530.0

We can also create a new column by adding/subtracting/multiplying/dividing two existing columns

In [53]:
#Creating some new columns by substracting /adding  two exisiting coulmn
imdb_df.loc[:,'movie_profits'] = imdb_df['revenue'] - imdb_df['budget']

NameError: name 'imdb_df' is not defined

In [ ]:
imdb_df.loc[:,'movie_profits'] = imdb_df['revenue'] - imdb_df['budget']

In [ ]:
imdb_df['movie_profits'].head(2)

0    -1685349
1    55149435
Name: movie_profits, dtype: int64

Next, we can also drop some columns which we want to drop

In [ ]:
imdb_df.drop(['imdb_id'], axis = 1, inplace = True)

In [ ]:
print(imdb_df.columns)

Index(['id', 'belongs_to_collection', 'budget', 'genres', 'homepage',
       'original_language', 'original_title', 'overview', 'popularity',
       'poster_path', 'production_companies', 'production_countries',
       'release_date', 'runtime', 'spoken_languages', 'status', 'tagline',
       'title', 'Keywords', 'cast', 'crew', 'revenue', 'new_column',
       'movie_profits'],
      dtype='object')

In [ ]:
# Check if 'imdb_id' is in the columns before dropping
if 'imdb_id' in imdb_df.columns:
    imdb_df.drop(['imdb_id'], axis=1, inplace=True)
else:
    print("Column 'imdb_id' not found in DataFrame")

Column 'imdb_id' not found in DataFrame

In [ ]:
imdb_df.columns

Index(['id', 'belongs_to_collection', 'budget', 'genres', 'homepage',
       'original_language', 'original_title', 'overview', 'popularity',
       'poster_path', 'production_companies', 'production_countries',
       'release_date', 'runtime', 'spoken_languages', 'status', 'tagline',
       'title', 'Keywords', 'cast', 'crew', 'revenue', 'new_column',
       'movie_profits'],
      dtype='object')

Task
Activity 1
🎥🤑💰💵🏆 Which movies in the IMDb dataset made the most money💵💰 (highest revenue) and spent the least 💰💸 (lowest budget), and how did their 🍿🎬 popularity compare to the rest of the movies in the dataset?

In [ ]:
high_rev = imdb_df.sort_values('revenue',ascending=False).head(5)['popularity']
low_bud = imdb_df.sort_values('budget', ascending=True).head(5)['popularity']
print(high_rev)

1126     89.887648
1761     27.275687
2770     37.379420
684     287.253654
2322      4.503505
Name: popularity, dtype: float64

Activity 2
🎬🕒🎥 Want to discover some epic movies with long runtimes? 🔎🎞️🤔 Find the top 5 English and Hindi movies with the highest runtime using boolean indexing! 💻🔍🍿

In [ ]:
eng = imdb_df[imdb_df["original_language"]=="en"] # Changed df to imdb_df
hin = imdb_df[imdb_df["original_language"]=="hi"] # Changed df to imdb_df
t5e = eng.sort_values('runtime', ascending = False)
t5h = hin.sort_values('runtime', ascending = False)
print(t5e.head(5))
print(t5h.head(5))

        id belongs_to_collection    budget  \
1211  1212                   NaN  18000000
1922  1923                   NaN  31115000
523    524                   NaN  13000000
1302  1303                   NaN  44000000
1914  1915                   NaN  56000000

                                                 genres homepage  \
1211  [{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...      NaN
1922  [{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...      NaN
523   [{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...      NaN
1302  [{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...      NaN
1914  [{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...      NaN

     original_language        original_title  \
1211                en                Carlos
1922                en             Cleopatra
523                 en  The Ten Commandments
1302                en         Heaven's Gate
1914                en     Gods and Generals

                                               overview  popularity  \
1211  The story of Venezuelan revolutionary, Ilich R...    4.558075
1922  Historical epic. The triumphs and tragedy of t...    8.591238
523   Escaping death, a Hebrew infant is raised in a...   11.147040
1302  Harvard graduate James Averill (Kris Kristoffe...    4.393576
1914  The film centers mostly around the personal an...    5.374563

                           poster_path  ...  \
1211  /obHJeOHn8J5XD049nj7KVSpAMEW.jpg  ...
1922  /bj7rUGUewofA9cpHt1h36gvDFfy.jpg  ...
523   /loLrO3SfhHkN3o3fTHdx1vf9ZYf.jpg  ...
1302  /sG8bBoqX0gZQBoYNBSwqCtMRJli.jpg  ...
1914  /jodqsKcMfd31vqXHCosQ8joB5Hm.jpg  ...

                                       spoken_languages    status  \
1211  [{'iso_639_1': 'fr', 'name': 'Français'}, {'is...  Released
1922  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...  Released
523            [{'iso_639_1': 'en', 'name': 'English'}]  Released
1302  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...  Released
1914           [{'iso_639_1': 'en', 'name': 'English'}]  Released

                                                tagline                 title  \
1211                     The man who hijacked the world                Carlos
1922  The motion picture the world has been waiting ...             Cleopatra
523                                                 NaN  The Ten Commandments
1302  The only thing greater than their passion for ...         Heaven's Gate
1914                The nations heart was touched by...     Gods and Generals

                                               Keywords  \
1211  [{'id': 1419, 'name': 'gun'}, {'id': 7336, 'na...
1922  [{'id': 5049, 'name': 'ancient rome'}, {'id': ...
523   [{'id': 1160, 'name': 'egypt'}, {'id': 2618, '...
1302  [{'id': 680, 'name': 'montana'}, {'id': 797, '...
1914  [{'id': 6091, 'name': 'war'}, {'id': 14643, 'n...

                                                   cast  \
1211  [{'cast_id': 4, 'character': "Ilich Ram√≠rez S...
1922  [{'cast_id': 2, 'character': 'Cleopatra', 'cre...
523   [{'cast_id': 9, 'character': 'Moses', 'credit_...
1302  [{'cast_id': 1, 'character': 'James Averill', ...
1914  [{'cast_id': 3, 'character': 'Lt. Gen. Thomas ...

                                                   crew    revenue new_column  \
1211  [{'credit_id': '57352b61c3a3680253000870', 'de...     871279  -17128721
1922  [{'credit_id': '52fe4493c3a36847f809de91', 'de...   71000000   39885000
523   [{'credit_id': '58acab8cc3a3686f0d00093f', 'de...  122700000  109700000
1302  [{'credit_id': '52fe43d49251416c7501fcf7', 'de...    3484331  -40515669
1914  [{'credit_id': '52fe469e9251416c7507dfbb', 'de...   12923936  -43076064

     movie_profits
1211     -17128721
1922      39885000
523      109700000
1302     -40515669
1914     -43076064

[5 rows x 24 columns]
        id belongs_to_collection   budget  \
2353  2354                   NaN  8376800
2563  2564                   NaN  7400000
1987  1988                   NaN        0
1640  1641                   NaN  4600000
1572  1573                   NaN  9100000

                                                 genres  \
2353  [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
2563  [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
1987  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
1640  [{'id': 36, 'name': 'History'}, {'id': 28, 'na...
1572  [{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...

                             homepage original_language      original_title  \
2353      http://www.jodhaaakbar.com/                hi        Jodhaa Akbar
2563                              NaN                hi  कभी अलविदा ना कहना
1987                              NaN                hi         कल हो ना हो
1640                              NaN                hi  Bhaag Milkha Bhaag
1572  http://www.rememberghajini.com/                hi             Ghajini

                                               overview  popularity  \
2353  Jodhaa Akbar is a sixteenth century love story...   12.237488
2563  Dev and Maya are both married to different peo...    2.372520
1987  Naina is a very serious girl with a very serio...    5.584308
1640  The true story of the "Flying Sikh" world cham...    4.342418
1572  Sanjay a rich tycoon suffering from short term...    4.239080

                           poster_path  ...  \
2353  /fi2aEp8RpVoh4jYRsOUcTRinYNd.jpg  ...
2563  /dkYQgRPuik4FGIUdGGVYGQJWrHa.jpg  ...
1987  /n6H4t5vDcoC2RSccTsSJA3ZQp7U.jpg  ...
1640  /cwsLAMYTEc1rmvzzC8iMQRNsfoE.jpg  ...
1572  /qACwdCtoaatv8qge2sSWlYpz3yN.jpg  ...

                                       spoken_languages    status  \
2353  [{'iso_639_1': 'hi', 'name': 'हिन्दी'}, {'iso_...  Released
2563  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...  Released
1987  [{'iso_639_1': 'de', 'name': 'Deutsch'}, {'iso...  Released
1640            [{'iso_639_1': 'hi', 'name': 'हिन्दी'}]  Released
1572            [{'iso_639_1': 'hi', 'name': 'हिन्दी'}]  Released

                                      tagline                   title  \
2353                                      NaN            Jodhaa Akbar
2563  A Love.... That Broke All Relationships  Kabhi Alvida Naa Kehna
1987                                      NaN           Kal Ho Naa Ho
1640         Now you will see his Real Story.      Bhaag Milkha Bhaag
1572                                      NaN                 Ghajini

                                               Keywords  \
2353  [{'id': 1157, 'name': 'wife husband relationsh...
2563  [{'id': 596, 'name': 'adultery'}, {'id': 34094...
1987  [{'id': 242, 'name': 'new york'}, {'id': 958, ...
1640  [{'id': 795, 'name': 'running'}, {'id': 1721, ...
1572  [{'id': 331, 'name': 'tattoo'}, {'id': 154785,...

                                                   cast  \
2353  [{'cast_id': 1, 'character': 'Jalaluddin Moham...
2563  [{'cast_id': 1, 'character': 'Dev Saran', 'cre...
1987  [{'cast_id': 8, 'character': 'Aman Mathur', 'c...
1640  [{'cast_id': 1, 'character': 'Milkha Singh', '...
1572  [{'cast_id': 12, 'character': 'Sanjay Singhani...

                                                   crew   revenue new_column  \
2353  [{'credit_id': '52fe45c99251416c75062761', 'de...  13000000    4623200
2563  [{'credit_id': '52fe45ee9251416c75067637', 'de...  17000000    9600000
1987  [{'credit_id': '52fe43b6c3a36847f8069c57', 'de...  13200241   13200241
1640  [{'credit_id': '52fe4d1ac3a368484e1d74af', 'de...  25000000   20400000
1572  [{'credit_id': '52fe45c99251416c75062659', 'de...  76000000   66900000

     movie_profits
2353       4623200
2563       9600000
1987      13200241
1640      20400000
1572      66900000

[5 rows x 24 columns]

In [ ]:
eng =imdb_df[ imdb_df['original_language']=='en']
eng

,id,belongs_to_collection,budget,genres,homepage,original_language,original_title,overview,popularity,poster_path,...,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue,new_column,movie_profits
0,1,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,/tQtWuwvMf0hCc2QR2tkolwl7c3c.jpg,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651,-1685349,-1685349
1,2,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,/w9Z7A0GHEhIp7etpj0vyKOeU1Wx.jpg,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435,55149435,55149435
2,3,NaN,3300000,"[{'id': 18, 'name': 'Drama'}]",http://sonyclassics.com/whiplash/,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,/lIv1QinFqz4dlp5U4lQ6HaiskOZ.jpg,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The road to greatness can take you to the edge.,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000,9792000,9792000
5,6,NaN,8000000,"[{'id': 16, 'name': 'Animation'}, {'id': 12, '...",NaN,en,Pinocchio and the Emperor of the Night,"Pinocchio and his friends, a glow worm and a m...",0.743274,/6IDqA1D2NBIVhzEEaMMRL28iBrq.jpg,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Pinocchio and the Emperor of the Night,NaN,"[{'cast_id': 6, 'character': 'Pinocchio (voice...","[{'credit_id': '52fe46f49251416c9106558b', 'de...",3261638,-4738362,-4738362
6,7,NaN,14000000,"[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...",http://www.thepossessionmovie.com/,en,The Possession,A young girl buys an antique box at a yard sal...,7.286477,/4QjzFuaZmB4btGnLwAgdp23BzIU.jpg,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Fear The Demon That Doesn't Fear God,The Possession,NaN,"[{'cast_id': 23, 'character': 'Clyde', 'credit...","[{'credit_id': '52fe4981c3a368484e12ee29', 'de...",85446075,71446075,71446075
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2994,2995,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,en,School Ties,When David Greene receives a football scholars...,7.438381,/poV3j71mcmQkmjezc2H35xJsAhD.jpg,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just because you’re accepted doesn’t mean you ...,School Ties,"[{'id': 6075, 'name': 'sport'}, {'id': 10144, ...","[{'cast_id': 2, 'character': 'David Greene', '...","[{'credit_id': '5637777ac3a3681b4d01f9f5', 'de...",14715067,14715067,14715067
2995,2996,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,en,Chasers,Military men Rock Reilly and Eddie Devane are ...,9.853270,/j8Q7pQ27hvH54wpxJzIuQgQCdro.jpg,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It was supposed to be a routine prisoner trans...,Chasers,"[{'id': 378, 'name': 'prison'}, {'id': 572, 'n...","[{'cast_id': 2, 'character': 'Rock Reilly', 'c...","[{'credit_id': '52fe4494c3a368484e02ac7d', 'de...",1596687,1596687,1596687
2997,2998,NaN,65000000,"[{'id': 80, 'name': 'Crime'}, {'id': 28, 'name...",NaN,en,The Long Kiss Goodnight,"Samantha Caine, suburban homemaker, is the ide...",14.482345,/4MENR8x6mYqnZvp2hGjSaPJz64J.jpg,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,What's forgotten is not always gone.,The Long Kiss Goodnight,"[{'id': 441, 'name': 'assassination'}, {'id': ...","[{'cast_id': 10, 'character': 'Samantha Caine ...","[{'credit_id': '52fe443a9251416c7502d579', 'de...",89456761,24456761,24456761
2998,2999,NaN,42000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",http://www.alongcamepolly.com/,en,Along Came Polly,Reuben Feffer is a guy who's spent his entire ...,15.725542,/nIY4kvJTTnxoBR0wycrXng5MOYs.jpg,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"For the most cautious man on Earth, life is ab...",Along Came Polly,"[{'id': 966, 'name': 'beach'}, {'id': 2676, 'n...","[{'cast_id': 8, 'character': 'Reuben Feffer', ...","[{'credit_id': '556f817b9251410866000a63', 'de...",171963386,129963386,129963386
2999,3000,NaN,35000000,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",http://www.abductionthefilm.com/,en,Abduction,A young man sets out to uncover the truth abou...,10.512109,/cUT6NQP5LAJpmUoStGtXmvNt4zA.jpg,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,They stole his life. He's taking it back.,Abduction,"[{'id': 591, 'name': 'cia'}, {'id': 822, 'name...","[{'cast_id': 2, 'character': 'Nathan Harper', ...","[{'credit_id': '5391990d0e0a260fb5001629', 'de...",82087155,47087155,47087155

Activity 4
Customer Information:
You have a dataset which contains customer information of 8 customers. Your task is to perform the following the actions based on the data:

Identify missing values: In the dataset, the Age column for customer ID 1007 and the Phone column for customer ID 1006 are missing values.

Fill in missing values: For the Age column of customer ID 1007, the mean value of the Age column can be used as a reasonable approximation, which is 32. For the Phone column of customer ID 1006, we can either delete the row or try to obtain the missing phone number by contacting the customer.

Inconsistent formats: The Phone column has inconsistent formats - some are formatted with dashes and others are formatted with parentheses or periods. To standardize the format, we can remove all non-numeric characters and keep only the digits.

Standardize data types: The Phone column should be stored as a string instead of a numeric value to preserve the formatting. The Age column can be stored as an integer.

Identify and handle outliers or inconsistencies: In this dataset, there are no obvious outliers or inconsistencies. However, depending on the specific requirements of the project or analysis, there may be other issues that need to be addressed.

In [43]:
import google.colab
import pandas as pd
import numpy as np

google.colab.drive.mount('/content/drive')
path = '/content/drive/My Drive/customer_information.csv'
customer_info_df = pd.read_csv(path)
customer_info_df

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

,Customer ID,Name,Age,Email,Phone,Gender
0,1001,John Smith,28.0,john.smith@fake.com,555-123-4567,M
1,1002,Jane Doe,35.0,jane.doe@fake.com,(555) 555-5555,F
2,1003,Sam Johnson,42.0,sam.johnson@fake.com,5551234567,M
3,1004,Emily Brown,27.0,emilybrown@fake.com,555-555-5555,F
4,1005,Mark Taylor,32.0,mark.taylor@fake.com,555-555-1234,M
5,1006,Katie Jones,29.0,katiejones@fake.com,NaN,F
6,1007,David Garcia,NaN,david.garcia@fake.com,555.555.5555,M
7,1008,Sarah Kim,37.0,sarah.kim@fake.com,555-555-5555,F

In [44]:
# 1 .identitfy  missing values:
missing_ages = customer_info_df[customer_info_df['Customer ID'] == 1007]['Age'].isnull()
missing_phones = customer_info_df[customer_info_df['Customer ID'] == 1006]['Phone'].isnull()
# 2. Fill Missing  values:-
customer_info_df.loc[customer_info_df['Customer ID'] == 1007, 'Age'] = 32

In [51]:
 #For the missing phone number of customer ID 1006, either contact the customer or remove the row:
customer_info_df[customer_info_df['Customer ID']!= 1006]
# Or if obtaining the number later:
customer_info_df.loc[customer_info_df['Customer ID'] == 1006, 'Phone'] = '5551234567'
customer_info_df

   Customer ID          Name  Age                  Email       Phone Gender
0         1001    John Smith   28    john.smith@fake.com  5551234567      M
1         1002      Jane Doe   35      jane.doe@fake.com  5555555555      F
2         1003   Sam Johnson   42   sam.johnson@fake.com  5551234567      M
3         1004   Emily Brown   27    emilybrown@fake.com  5555555555      F
4         1005   Mark Taylor   32   mark.taylor@fake.com  5555551234      M
5         1006   Katie Jones   29    katiejones@fake.com  5551234567      F
6         1007  David Garcia   32  david.garcia@fake.com  5555555555      M
7         1008     Sarah Kim   37     sarah.kim@fake.com  5555555555      F

In [49]:
#3. Remove all non-numeric characters from the Phone column
customer_info_df['Phone'] = customer_info_df['Phone'].str.replace(r'\D+', '', regex=True)

# 4. Standardize data types
customer_info_df['Age'] = customer_info_df['Age'].astype(int)
customer_info_df['Phone'] = customer_info_df['Phone'].astype(str)
print(customer_info_df['Age'])
print(customer_info_df['Phone'])

0    28
1    35
2    42
3    27
4    32
5    29
6    32
7    37
Name: Age, dtype: int64
0    5551234567
1    5555555555
2    5551234567
3    5555555555
4    5555551234
5    5551234567
6    5555555555
7    5555555555
Name: Phone, dtype: object

In [50]:


#Check for Outliers in Numeric Data (Age Column): You can use basic statistics (like standard deviation or IQR) to identify outliers in the Age column. Here’s how to check for outliers using the interquartile range (IQR) method:
Q1 = customer_info_df['Age'].quantile(0.25)
Q3 = customer_info_df['Age'].quantile(0.75)
IQR = Q3 - Q1
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

outliner = customer_info_df[(customer_info_df['Age'] < lower_bound) | (customer_info_df['Age'] > upper_bound)]

# Check for phone numbers that don't have 10 digits
invalid_phones = customer_info_df[customer_info_df['Phone'].str.len() != 10]
print(invalid_phones)
# Check for duplicate customer IDs
duplicates = customer_info_df[customer_info_df.duplicated(subset='Customer ID', keep=False)]
print(duplicates)

Empty DataFrame
Columns: [Customer ID, Name, Age, Email, Phone, Gender]
Index: []
Empty DataFrame
Columns: [Customer ID, Name, Age, Email, Phone, Gender]
Index: []


Activity 5

Suppose you are a data analyst working for a movie studio. Your boss has asked you to analyze a dataset containing information about movies, including the movie title, release year, director, genre, and box office revenue. Your boss wants to know:

1.What is the average box office revenue per year for the movies in the dataset?
2.Which genres are the most popular and how many movies have been released in each genre?
3.Who are the top 5 directors in terms of box office revenue?
4.Use Pandas to analyze the dataset and provide a report summarizing your findings. Be sure to include any data cleaning or transformation steps you took to arrive at your conclusions.

In [29]:
import pandas as pd
import google.colab
google.colab.drive.mount('/content/drive')
path = '/content/drive/My Drive/movies.csv'
movies_df = pd.read_csv(path)
movies_df

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

,Title,Release Year,Director,Genre,Box Office
0,Star Wars,1977,George Lucas,Sci-Fi,775.4
1,Jaws,1975,Steven Spielberg,Horror,470.7
2,Indiana Jones and the Raiders of the Lost Ark,1981,Steven Spielberg,Action,389.9
3,Ghostbusters,1984,Ivan Reitman,Comedy,295.2
4,Back to the Future,1985,Robert Zemeckis,Sci-Fi,381.1
5,The Godfather,1972,Francis Ford Coppola,Drama,245.0
6,The Lion King,1994,Roger Allers and Rob Minkoff,Adventure,987.5
7,Forrest Gump,1994,Robert Zemeckis,Drama,677.4
8,The Dark Knight,2008,Christopher Nolan,Action,1005.0
9,Avatar,2009,James Cameron,Sci-Fi,2787.8
10,The Avengers,2012,Joss Whedon,Action,1518.8
11,The Hunger Games,2012,Gary Ross,Action,694.4
12,Mad Max: Fury Road,2015,George Miller,Action,378.9
13,Wonder Woman,2017,Patty Jenkins,Action,821.8
14,Black Panther,2018,Ryan Coogler,Action,1346.9
15,Joker,2019,Todd Phillips,Drama,1074.3

In [35]:
# Calculate average revenue per  year
movies_df['Release Year'] = pd.to_datetime(movies_df['Release Year'], format='%Y') # Added format='%Y' to handle just the year
movies_df['Release Year'] = movies_df['Release Year'].dt.year
# Changed 'Box Office Revenue' to the correct column name 'Box Office'
average_revenue_per_year = movies_df.groupby('Release Year')['Box Office'].mean()
print(f'average_revenue_per_year:\n{average_revenue_per_year}')

average_revenue_per_year:
Release Year
1970    865.63125
Name: Box Office, dtype: float64

In [39]:
# Count number of movies released per genre
movies_df['Genre'] = movies_df['Genre'].astype(str).str.split(',')
movies_df = movies_df.explode('Genre')
movies_df['Genre'] = movies_df['Genre'].astype(str).str.strip()
genre_counts = movies_df['Genre'].value_counts()
print(f'genre_counts:\n{genre_counts}')

genre_counts:
Genre
nan    16
Name: count, dtype: int64

In [40]:
# Calculate top directors by revenue
movies_df['Director'] = movies_df['Director'].astype(str).str.split(',')
movies_df = movies_df.explode('Director')
movies_df['Director'] = movies_df['Director'].astype(str).str.strip()
top_directors = movies_df.groupby('Director')['Box Office'].sum().nlargest(5)
print(f'top_directors:\n{top_directors}')

top_directors:
Director
James Cameron      2787.8
Joss Whedon        1518.8
Ryan Coogler       1346.9
Todd Phillips      1074.3
Robert Zemeckis    1058.5
Name: Box Office, dtype: float64

In [52]:
import numpy as np

arr = np.array([1, 2, 3, 4, 5, 6])
new_arr = np.reshape(arr, (2, 3))
print(new_arr)

[[1 2 3]
 [4 5 6]]

In [54]:
import numpy as np

arr = np.array([1, 2, 3, 4, 5, 1, 2, 3])
new_arr = np.unique(arr)
print(new_arr)

[1 2 3 4 5]

In [55]:
import numpy as np

arr = np.array([1, 2, 3])
new_arr = np.resize(arr, (2, 3))
print(new_arr)

[[1 2 3]
 [1 2 3]]